.jumbotron h1 {
  font-family: "Caveat";
}
.jumbotron {
  background: url("/img/logo.svg") no-repeat left 60%;
  background-size: 50% 100%;
}
.card-header[data-peep-owner]::before {
  content: "@ ";
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.2;
  color: #000000;
  float: left;
  margin-right: 0.2rem;
}
div.like,
div.unlike {
  cursor: pointer;
  padding: 0.2rem 1rem;
}
div.like {
  position: absolute;
  bottom: -2rem;
  right: 0rem;
}
div.unlike {
  position: absolute;
  bottom: -2rem;
  left: 0rem;
  cursor: pointer;
}
div.like > i,
div.unlike > i {
  opacity: 0.4;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}
div.like:hover > i,
div.unlike:hover > i {
  opacity: 0.8;
}
div.like::before {
  content: attr(data-like);
  opacity: 0.8;
  color: #000000;
}
div.unlike::after {
  content: attr(data-unlike);
  opacity: 0.8;
  color: #000000;
}
div[data-peep-message] .card-text {
  white-space: normal;
  padding-bottom: 0.5rem;
  max-height: 3.4rem;
  overflow: hidden;
  transition: max-height ease 600ms;
}
div[data-peep-message]:focus .card-text {
  max-height: 10rem !important;

  transition: max-height ease 600ms;
}
div[data-peep-message] {
  position: relative;
  margin-bottom: 1.6rem;
}
div[data-peep-message]:not(:focus)::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 100%;
  bottom: 0%;
  right: 0;
  background-color: white;
  display: block;
}
div[data-peep-message="false"] {
  display: none;
}
div[data-peep-message][data-peep-mine="true"] .card-header {
  box-shadow: inset var(--bs-primary) 0.2rem 0 0 0;
}
div[data-peep-message] .card-text::after {
  content: "..";
  opacity: 0.2;
  color: #000000;
}
div[data-peep-message] .card-text > .fa {
  float: left;
  clear: left;
  margin-top: -0.125rem;
  margin-bottom: -1rem;
  margin-right: 0.5rem;
}
div[data-peep-message] .card-text::before {
  content: "# ";
  opacity: 0.2;
  color: #000000;
  margin-left: 0.5rem;
}
.card-header[data-peep-owner]::after {
  content: attr(data-peep-owner);
  float: left;
}
.card-header > div[data-peep-time]::before {
  content: attr(data-peep-time);
  float: right;
}
.card-header > div[data-peep-time]::after {
  content: attr(data-peep-ago) " ago.. ";
  opacity: 0.2;
  color: #000000;
  float: right;
  margin-right: 0.2rem;
}
.peeps {
  z-index: 99 !important;
}
.my-peeps {
  position: -webkit-sticky;
  position: sticky;
  top: 0.2rem;
  z-index: 99;
  background-color: white;
  box-shadow: 0 0.5rem 0.5rem 0 white, 0 -0.5rem 0.5rem 0 white;
}
.my-peeps .btn:first-of-type {
  width: calc(33.33% - 1rem) !important;
}
.my-peeps .btn:last-of-type {
  width: calc(66.66% - 0.5rem) !important;
  margin-left: 1.5rem;
}

#peepModal textarea {
  resize: none;
}

#peepContainer > .card:hover,
.btn:hover {
  animation: shake 0.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
