body {
  font-family: 'Barlow', sans-serif;
  background-color: rgb(94, 153, 253);
}
button {
  border-radius: 4px;
  border: none;
  font-family: 'Barlow', sans-serif;
  margin: 5px;
}
.post {
  font-size: 12px;
  max-width: 400px;
}
.handle {
  font-size: 8px;
}
.date {
  font-size: 8px;
}
.likes {
  font-size: 8px;
}
nav {
  display: flex;
}