* {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

.peep-div {
  margin: 20px 0px 40px 20px;
  text-align: left;
  display: flex;
}

.inner-peep-div {
  max-width: 500px;
  width: 50vw;
}

.peep-name {
  font-weight: bold;
  color: rgb(107, 144, 224);
}

.peep-body {
  margin: 5px 0px 0px 10px;
  font-size: 18px;
}

.peep-time {
  margin: 5px 0px 0px 10px;
  font-size: 13px;
  color: rgb(155, 153, 153);
}

.likes-div {
  display: flex;

}

.heart {
  margin: 20px 5px;
}

.peep-likes {
  margin-top: 25px;
}

#left-side {
  max-width: 250px;
  width: 30vw;
  text-align: center;
  min-width: -webkit-min-content;
}

#chitter {
  margin: 20px;
}

#right-side {
  width: 100vw;
}

#location-div, #peeps {
  border-top: solid 1px white;
  border-left: solid 1px rgb(179, 208, 235);
  border-bottom: solid 1px rgb(179, 208, 235);
  border-right: solid 1px white;
}

#location {
  margin: 20px;
}
