body {
  background-color: #ffffff;
  font-family: 'Lora', serif;
  padding: 40px;
  text-align: left;
  color: #333;
  font-size: 18px;
  color: rgb(99, 99, 245);
}

  .navbar {
    text-align: center;
    background-color: #ffffff;  
    width: 50%;
    margin: 0 auto;
    
    padding: 15px 50px;
    border-radius: 5px;
  
    margin-bottom: 30px;  
  }


  .peeps {
    padding: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.8fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }
    
    .peep-body { 
      grid-area: 1 / 2 / 2 / 5; 
      padding: 10px;
    }
    .posted-by { 
      grid-area: 2 / 2 / 3 / 3; 
      padding: 10px;
    }
    .likes { 
      grid-area: 2 / 4 / 3 / 5; 
      padding: 10px;
    } 