h1 {
  text-align: center;
}

html {
  background:#fdf0f0;
}

#form-background{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  background-color: black;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.peeps-feed {
  background: #ffffff;
  width: 700px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #1f4172;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #febbbb;
  color: white;
  cursor: pointer;
}

.topnav a.active {
  background-color: #febbbb;
  color: white;
}

.popup-signup {
  position: absolute;
  z-index: 1000;
  top:-150%;
  left:50%;
  opacity: 0;
  transform:translate(-50%,-50%) scale(1.25);
  width: 380px;
  padding: 20px 25px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition:top 0ms ease-in-out 200ms,
  opacity 200ms ease-in-out 0ms,
  transform 200ms ease-in-out 0ms;
}

.popup-signup.active {
  top: 50%;
  opacity: 1;
  transform:translate(-50%,-50%) scale(1);
  transition:top 0ms ease-in-out 0ms,
  opacity 200ms ease-in-out 0ms,
  transform 200ms ease-in-out 0ms;
}

.popup-signup .close-btn-signup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #1f4172;
  color: #f2f2f2;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup-signup .signup-form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup-signup .signup-form .signup-form-element {
  margin: 15px 45px;
}

.popup-signup .signup-form .signup-form-element label {
  font-size: 14px;
  color: #222;
}

.popup-signup .signup-form .signup-form-element input[type="text"],
.popup-signup .signup-form .signup-form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popup-signup .signup-form .signup-form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #1f4172;
  color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}

img {
  max-width:100%;
}

.avator {
  border-radius:100px;
  width: 50px;
  margin-right: 15px;
}

.peep-wrap {
  max-width:600px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius:3px;
  padding: 15px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}

.peep-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
  margin-bottom: 1px;
}

.peep-header-info {
  font-weight:bold;
}

#time {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}

#date {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}

.peep-header-info p {
  font-weight:normal;
  margin-top: 5px;
}

.likes-container {
  display: flex;
  justify-content: flex-end;
}

#peep-input[type=text] {
  width: 80%;
  background: #fefefe;
  border-radius: 4px;
  padding: 10px 8px;
  border: 1px solid #aaa;
  font-size: 20px;
}

#post-peep-button {
  background-color: white;
  border-radius: 4px;
  padding: 10px 15px;
  border: 2px solid rgb(201, 143, 192);
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#likes-button {
  background-color: transparent; 
  border: none; 
  color: rgb(201, 143, 192); 
  padding: 2px 2px; 
  font-size: 25px; 
  cursor: pointer;
}

#message {
  text-align: center;
  color: darkred;
}


