h1 {
  font-family: sans-serif;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: grey;
}

h2 {
  font-family: tahoma;
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 20px;
  font-style: italic;
  color: grey;
  opacity: 0.5;
}

html {
  background:#8ae2ff;
}

body {
  background: white;
  width: 700px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.peeps {
  border-bottom: 1px solid #aaa;
  padding: 15px;
  font-family: 'Trebuchet MS';
  font-size: 30px;
}

input {
  width: 40%;
  background: #fefefe;
  border-radius: 4px;
  padding: 10px 8px;
  border: 1px solid #444;
  font-size: 20px;
}

#new-peep {
  width: 70%;
}



button {
  background: #9efa82;
  border-radius: 4px;
  padding: 10px 8px;
  border: 1px solid #444;
  font-size: 18px;
  cursor: pointer;
}

.user {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  font-style: italic;
}

.time_created {
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
  padding-left: 400px;
}

.message {

}