* {
  font-family: 'Open Sans', sans-serif;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color:#ffce00;
  width: 100%;
  z-index: 10;
  
}

.peep {
    position: relative;
    border: 2px solid black;
    background-color: #ffce00;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    margin-left: 12%;
    margin-right: 12%;

}

.peep::after {
  content: "";
  clear: both;
  display: table;
}

.peep img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 12%;
  height: auto;
 
}

.peep span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .peep {
    text-align: center;
  }

  .peep img {
    margin: auto;
    float: none;
    display: block;
  }
}

.peep-date {
  text-align: right;
}

.peep-body {
  position:inherit;
}
