<link rel="stylesheet" href="../public/style.css">
<!DOCTYPE html>
<html>
<head>
  <title>CHITTER :: Home</title>
</head>
<script src = "../src/interface.js"></script>
<body>
  <div id = "heading">
    <h1>Chitter <img src = "public/logo.png"></h1>
  </div>
  <div id = "login">
    Sign in to post a Peep!
    <form>
      <label for='handle'>Handle:</label>
      <input type='text' name='handle' id='handle'>
      <label for='password'>Password:</label>
      <input type='password' name='password' id='password'>
      <button type="button" id="signin">Go</button>
      <button type="button" id="create">Create account</button>

  </form>

</div>

<div id = "welcome">
  <h1>Welcome, user</h1>
  <button type="button" id="signout">Sign out</button>
  <p>
  <form>
    <label for='peep_text'>Peep:</label>
    <input type='text' name='peep_text'>
    <button type="button" id="submit">Submit</button>
  </form>
</div>


    <div id = "peep-list">
    </div>
    <div id = "full-text">
    </div>

    <center><button type="button" id="allPeeps-button"> All Peeps </button>

</body>
