body {
  margin: 0;
}

.layout {
  display: grid;
  grid-template-columns: 375px auto 375px;
  margin: 0 auto;
}

.layout__left-sidebar-container {
  border-right: 1px solid lightgrey;
}

.layout__right-sidebar-container {
  border-left: 1px solid lightgrey;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 15px;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.feed {
  display: flex;
}

.layout__left-sidebar {
  padding-left: 110px;
}

.layout__right-sidebar {
  padding-left: 25px;
  margin-top: 43px;
}

.sidebar-menu {
  margin-top: 3px;
  padding: 10px;
  position: fixed;
}

.sidebar-button {
  display: none;
  border: none;
  width: 220px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  padding: 10px 55px;
  margin: 8px 0px;
  background: rgb(255, 0, 0);
  color: white;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.sidebar-button.active {
  display: unset;
}

.sidebar-button:hover {
  cursor: pointer;
  background-color: rgb(200, 0, 0);
}

.peep {
  display: flex;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 2px;
  padding: 10px 15px;
  text-decoration: none;
}

.peep-focus {
  display: flex;
  border-bottom: 1px solid red;
  padding: 35px 15px;
  text-decoration: none;
}


.peep:hover {
  background: rgba(0, 0, 0, 0.02);
}

.peep-focus:hover {
  background: rgba(0, 0, 0, 0.02);
}

.peep__author-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.peep__header {
  display: flex;
}

.peep__author-handle {
  font-size: 15px;
  font-weight: 700;
  margin-right: 5px;
}

.peep__content{
  display: flex;
  margin-top: 2px;
}

.peep__text {
  font-size: 15px;
  overflow-wrap: break-word;
}

.peep__time-since {
  margin-left: 5px;
  color: grey
}

.peep__footer {
  display: flex;
  margin-top: 10px;
}

.peep__like-icon {
  margin-top: 4px;
}

.peep__like-count{
  font-size: 14px;
  margin-top: 5px;
  margin-left: 8px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 400px;
  max-width: 80%;
  padding: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

.modal.active {
  display: unset;
  transform: translate(-50%, -50%);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  left: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
}

.modal__form-element {
  margin: 15px 0px;
}

.modal__form-element input{
  display: block;
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 15px;
}

.modal textarea {
  resize: none;
  display: block;
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 60px 10px;
  outline: none;
  border: 1px solid red;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  text-align: left;
  overflow: scroll;
}

.modal__form-element button{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  background: red;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 10px;
}

.error {
  color: red;
  display: none;
}

.error.active {
  display: inline;
}

#overlay {
  z-index: 500;
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}