img {
  align-items: center;
  max-width: 10%;  
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.feed {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.peep {
  background-color: azure;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 20px;
  border:20;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.post-peep-button {
  position:absolute;
  top:5px;
  left:2px;
  padding-left: 5%;
}

.body {
  font-size: large;
  font-weight: bold;
}

.likes {
font-size: small;
}

body {
  background-color: rgb(57, 192, 57);
  font-family: 'Courier New', Courier, monospace;
}

.form {
  width:50px;
  padding:10px;
}

input[type=text] {
  padding:15px;
  border:10;
  box-shadow:5 5 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  font-family:inherit;
}

input[type=password] {
  padding:15px;
  border:10;
  box-shadow:5 5 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  font-family:inherit;
}

input[type=submit] {
  background-color: rgb(71, 132, 189);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  box-shadow:5 5 15px 4px rgba(0,0,0,0.06);
  margin: 4px 2px;
  font-family:inherit;
  cursor: pointer;
}

button {
  padding:15px;
  border:10;
  box-shadow:5 5 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  font-family:inherit;
}


   
