img {
  align-items: center;
  max-width: 8%;  
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.feed {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
.peep {
  background-color: azure;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
  margin-bottom: 20px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.body {
  font-size: large;
  font-weight: bold;
}

.likes {
font-size: small;
}

body {
  background-color: honeydew;
  font-family: 'Courier New', Courier, monospace;
}

.sign-up-box {
  position:absolute;
  top:5px;
  left:2px;
  padding-left: 5%;
}

.form {
  width:50px;
  padding:10px;
}

input[type=text] {
  padding:5px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  font-family:inherit;
}

input[type=password] {
  padding:5px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  font-family:inherit;
}

input[type=submit] {
  background-color: lightseagreen;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
   