* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  z-index: 0;
  top: 4rem;
  display: flex;
}

header {
  position: fixed;
  z-index: 1;
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  background-color: rgb(211, 217, 222);
  border: 0.15rem solid rgb(131, 135, 138);
  display: flex;
  align-items: center;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

.bird-img-cont {
  width: 7%;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#bird-img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
}

.cat-cont {
  width: 60%;
  margin: 5% auto 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cat-img-cont {
  width: 40%;
  text-align: center;
}

#cat-img {
  width: 100%;
  max-height: auto;
  display: block;
  margin: auto;
}

.paw-img-cont {
  width: 13%;
}

.paw-img {
  width: 100%;
  max-height: auto;
  display: block;
}

.main-cont {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(218, 232, 252);
  border: 0.3rem solid rgb(108, 142,191);
}

.post-cont {
  width: 100%;
  height: 7.5rem;
  padding: 1rem 0;
  text-align: center;
  background-color: rgb(236, 233, 233);
  border-bottom: 0.3rem solid rgb(108, 142,191);
}

#add-message-input {
  display: block;
  width: 80%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  background-color: white;
  border: 0.15rem solid rgb(100, 99, 99);
}

.message-cont {
  width: 80%;
  margin: 3% auto;
  background-color: rgb(236, 233, 233);
  border: 0.2rem solid rgb(100, 99, 99);
  list-style: none;
}

.message-text {
  width: 95%;
  margin: 2% auto;
  padding: 1rem;
  background-color: white;
  border: 0.15rem solid rgb(100, 99, 99);
}

.message-author,
.message-time {
  width: 10rem;
  margin: 0 1% 2% 1%;
  padding: 0.15rem;
  font-size: 0.8rem;
  color: rgb(85, 84, 84);
  display: inline-block;
}

#sign-up-button,
#login-button {
  height: 2rem;
  width: 5rem;
  background-color: rgb(0, 80, 239);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin-left: 2rem;;
}

#sign-up-button:hover,
#login-button:hover {
  background-color: rgb(230, 113, 133);
}

header h1 {
  color: rgb(49, 49, 49);
  font-size: 2rem;
}

.title-cont {
  display: flex;  
  width: 50%;
}

.login-cont {
  display: flex;
  justify-content: right;
  width: 50%;
}
