
body {
  background: #171E31;
  color: #fff;
}

#log-out {
  display: none;
}


#peeps {
  padding: 1em;
  border-radius: 6px;
}

.peep-div {
  padding: 15px, 30px;
  border: black solid 1px;
  background: #f08;
  margin: 1em;

}