<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../src/User.js"></script>
  <script src="../src/PeepList.js"></script>
  <script src="../src/Peep.js"></script>
  <script src="./Interface.js"></script>

</head>

<body>
  <header> 
  </header>
   <!-- Navbar begin -->
   <section id='nav-bar-section' class='nav_bar nav__bar'>
    <h1>Chitter</h1>
      <ul>
        <li><a href="#home">HOME</a></li>
        <li><a href="#login">login</a></li>
        <li><a href="#signup">signup</a></li>
      </ul>
  </section>

  <!-- Navbar end -->

  <!-- Create User begin -->
  <section id='create-user-section'>
    <label for='create-user-form'>Sign Up</label>
    <form id='create-user-form'>
      <ul>
        <li>
          <input type="text" name="handle" id="handle" class="create_or_login_user" placeholder="Enter handle">
        </li>
        <li>      
          <input type="password" name="password" id="password" class="create_or_login_user" placeholder="Enter password">
        </li>
        <li>
          <input type="submit" name="submit" placeholder="Submit">
        </li>
      </ul>
    </form>
  </section>
  <!-- Create User end -->

  <!-- Login User begin -->
  <section id='login-user-section'>
    <label for='login-user-form'>Login</label>
    <form id='login-user-form'>
      <ul>
        <li>
          <input type="text" name="handle" id="handle" class="create_or_login_user" placeholder="Enter handle">
        </li>
        <li>      
          <input type="password" name="password" id="password" class="create_or_login_user" placeholder="Enter password">
        </li>
        <li>
          <input type="submit" name="submit" placeholder="Login">
        </li>
      </ul>
    </form>
  </section>
  <!-- Login User end -->

  <!-- Peeps begin -->
  <section id='peeps-list-section'>
    <ul id='peeps-list' class='peeps_list'>

    </ul>

  </section>
  <!-- Peeps end -->
  <footer>

  </footer>
</body>
</html>